:root {
    --item-color: #292929;
    --black--color: #000;
    --white-color: #FFF;
    --button-color: #01996D;
    --hero-text: #484848;
}

/* Settings */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.container {
    padding: 0 10vw;

}


/* Header */
.header {
    padding-top: 17px;
    padding-bottom: 17px;
}

.box {
    display: flex;
    align-items: center;
}


.box {
    display: flex;
}

.header-svg {
    fill: #01996D;
    width: 79.565px;
    height: 23.04px;
    margin-right: 172px;
}

.header-list {
    display: flex;
    gap: 72px;
    margin-right: 283px;
}

.item-text {
    color: var(--item-color);
    font-family: "Lato";
    font-size: 20px;
    font-weight: 500;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 35px;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 35px;
}

.nav-text {
    color: var(--black--color);
    font-family: "Lato";
    font-size: 20px;
    font-weight: 400;
}

.nav-button {
    color: var(--white-color);
    font-family: "Lato";
    font-size: 20px;
    font-weight: 400;
    line-height: 1.25;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 50px;
    padding-left: 50px;
    border-radius: 4px;
    border: 1px solid var(--button-color);
    background: var(--button-color);
}

.header-line {
    width: 1920px;
    height: 1px;
    background: #D6D6D6;
}

/* Hero */

.hero {
    padding-top: 175px;
    padding-bottom: 336px;
    background-image: url(../img/bg.jpg);
}

.hero-title {
    color: var(--button-color);
    font-family: Georgia;
    font-size: 65px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.hero-text {
    color: var(--hero-text);
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.57;
    width: 420px;
    margin-bottom: 18px;
}

.hero-unusual {
    line-height: 1.44;
}

.hero-button {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
    padding-left: 50px;
    color: var(--white-color);
    font-family: "Lato";
    font-size: 20px;
    font-weight: 400;
    line-height: 1.25;
    border-radius: 4px;
    border: 1px solid var(--button-color);
    background: var(--button-color);
}